.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;   
  box-sizing: border-box; 
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
}

.country img {
  width: 100%;        
  height: 150px;      
  object-fit: contain; 
}
.visited-flag-container img{
  width: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
}
